    <body>
         <div id="background">
            <header class="cf">
            <div class="wrapper_wide">
            <a href='index.html' id="logo">Late Night Radio</a>
            <nav>
               <ul>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Make a show</a></li>
                </ul>
            </nav>
            </div>
        </header>
        <div class="wrapper_skinny">
        <h1>This is Late Night Radio</h1>
    <a href="#" class="button button_highlight">Contribute</a>
    <a href="#" class="button button_white">Listen</a>
    </div>
  </div>
</div>